<!-- RESOURCES INFORMATION -->

<div class="resources" id="listresource">
  <div id="featured-header">
    <h1 style="width:90%;">{{list.title}}</h1>
    <a ng-href="#/topics/" class="secondary-close"><img src="img/icon_close.png" height="100%" width="100%" /></a>
  </div>

  <div id="resources-secondary">
    <ul>
      <li>
        <form id="orderBy" role="search">Order by:
          <select class="form-control" ng-model="sort">
                  <option class="orderOption" value="order">Topic</option>
                  <option value="title">Title</option>
                  <option value="year">Year</option>

                  </select>

        </form>
      </li>
      <li>
        <form>Filter by: <input id="filterBy" type="search" placeholder="query" ng-model="query"></form>

      </li>
    </ul>
  </div>
  <div class="loading text-muted" ng-hide="items">
    <fa name="spinner" size="5" spin></fa><br>Loading resources&hellip;</div>
  <div>
    <div id="resources-list-container" ng-show="items">

      <ul class="resources-list">
        <li ng-repeat="item in listitems | itemsInList:list.order| filter:query | orderBy:sort ">
          <div ng-click="displayTertiary($index,$event)" class="resource-grid-thumbnail resource-grid-thumbnail-div" style="background-image: url({{ item.thumbnail }});background-size:cover;"></div>
          <a ng-click="displayTertiary($index,$event)" class="resources-grid-title">{{ item.title }}</a>
          <a ng-click="displayTertiary($index,$event)" class="resources-grid-type">{{ item.type}}</a>
          <a ng-click="displayTertiary($index,$event)" class="resources-grid-year">{{ item.date}}</a>
        </li>


      </ul>

    </div>
  </div>



  <!-- POPUP FOR EXHIBITION HIGHLIGHTS BELOW -->
  <div class="popup-highlights" role="alert">
  <div class=" tertiary-container">


  <!-- ADD THE YOUR HIGHLIGHT IMAGES AND DESCRIPTIONS HERE -->
  <div class="item-slider-container">
    <div id="highlights-slider" >

      <div class="highSlides">
        <div class="loading text-muted" ng-show="isloading"><fa name="spinner" size="5" spin></fa><br>Loading resources&hellip;</div>
        <div id="item-header" ng-hide="isloading">

            <h1 class="itemtitle"></h1>
            <h2 class="itemdate"></h2>
            <h3 class="itemtype"></h3>
        </div>
        <div id="item-details" ng-hide="isloading">
        <img  id="itemimagesrc" style='max-height: 100%; max-width: 100%; object-fit: contain; text-align:center;'>
        <div class="list-item itemdisplaytext" >

        </div>

        <div class="list-item-caption itemcaption"></div>
      </div>
      </div>
    </div>

    <a id="itemprev" class="prev" ng-click="displayPrevTertiary($event)"><img src="img/icon_previous.png" /> previous</a>
    <a id="itemnext" class="next" ng-click="displayNextTertiary($event)">next <img src="img/icon_next.png"/></a>

  </div>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
      <script src="js/high_slideshow.js"></script>
      <div id="list-item-links">
        <h1><a id="viewitemurl" href="#">View digitised item at Trove <img src="img/icon-extLinks.png"></a></h1>
        <h2>Part of <a ng-href="#/topics/{{list.order}}" ng-click="closeTertiary()">{{list.title}}</a></h2>
      </div>
      <img src="img/icon_close.png" height="100%" width="100%" class="tertiary-close"/>
  </div>
  <div id="featured-footer" >
      <div id="resources-footer-main" ng-bind-html="footer">

      </div>
          <div id="featured-footer-secondary">
              <a href="http://trove.nla.gov.au/"><img src="img/icon_logo.png"/></a>
              <h3>Powered by <a href="http://trove.nla.gov.au/">Trove</a></h3>
          </div>
      </div>
  </div>






  <script src="js/grid-list-view.js"></script>

  <div id="resources-footer">
    <div id="resources-footer-main" ng-bind-html="footer">

    </div>
    <div id="featured-footer-secondary">
      <a href="http://trove.nla.gov.au/"><img src="img/icon_logo.png" /></a>
      <h3>Powered by <a href="http://trove.nla.gov.au/">Trove</a></h3>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.resources').css({
      'display': 'inline',
    });
    $('.featured').css({
      'display': 'none',
    });
    $('.base-nav li:nth-child(2)').css({
      'opacity': '1',
    });
    $('.base-nav li:nth-child(3)').css({
      'opacity': '0.5',
    });

  });
</script>
<script src="js/popup_main.js"></script>
